main .head p{
  font-size: 25px;
  margin: 0;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid silver;
}
table{
  width : 500px;
  margin: auto;
  text-align: center;
}
thead td{
  font-size: 15px;
  font-weight: bold;
  height: 50px;
}
thead{
  border-bottom: 1px solid silver;
}
